<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiConnect"
        tools:targetApi="31">
        <activity
            android:name=".Customer.CustomerRegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".Customer.ViewLocation"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.DetailedActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Farmers.FarmerActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".Riders.RiderLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Farmers.FarmerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBRpmaz8NVD_QYgMMlT8JUwxJW-DrqtLU" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_1DP5mmOlF5G5ag" />
    </application>

</manifest>